.admin-container {
    padding: 20px;
}

.button-group {
    margin-bottom: 20px;
}

.student-list {
    list-style-type: none;
    padding: 0;
}

.student-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.student-form {
    margin-top: 20px;
}

.student-form label {
    display: block;
    margin-bottom: 10px;
}

.student-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }